/*  
* Author: M. Forgani
* wpclassified wordpress plugin
* Author URI: http://www.forgani.com/
*/

.wpc_head{
	padding-top:.5em;
}

.wpc_head h3{
	padding-top:5px;
	border-bottom: 1px solid #ddd;
} 

.wpc_head a{
	text-decoration: none;
} 

.wpc_head img{
	border:0;
}

.wpc_head p{
	vertical-align: top;
	margin: 10px;
	font-weight: bold;	
	display:inline;
}

.wpc_search{
	text-align:right; 
    	margin: 5px 0;
	float:right;
	clear:both;
}

.wpc_googleAd {
	padding: 10px 0;
	margin: 10px 0;
	float:left;
	text-align: center;
}


.wpc_container {
	border: 1px solid #c5b2b3;
	padding: 8px 2px 3px 2px;
	clear:both;  /* if do not look well remove it */
}


.wpc_container hr {
	height: 1px;
}

.main-content {
/*border-bottom: 1px solid #C5B2B3;*/
/*background-color: #ccc;*/
	padding: 0;
} 


.main-content h2{
	font-weight: normal;
}

.column-left{
	float: left;
	margin-bottom: 10px;
	margin-left: 15px;
}

.list-content{
	margin-top: 10px;
	margin-bottom: 10px;
	clear: both;
	margin-left: 15px;
}

.list-content img{
	margin-top: 0px;
	margin-right: 3px;
	border:0;
}

.catphoto{
	float: left;
	margin-top: 0px;
	margin-right: 15px;
	border:0;
}


.wpc_colaps{
	display:inline;
	clear:both;
	background-color:#f4f1ee;
	padding: 2px;
	margin: 0px 5px 0 0;
	border: 1px solid #aaa;
}


.list-content h2{
	text-align: left;
	padding-left: 130px;
}

.list-content dt{
	color: #444;
	text-align: left;
	font-weight: bold;
	padding-left: 100px;
}

.list_ads { 
/*border: 1px solid #C5B2B3;*/
	padding: 1px;
	margin-bottom:10px;
}

.list_ads_top{
	padding: 10px 5px;
	margin-bottom: 10px;
	border: 1px solid #ccc;
	background-color:#f9f9f9;
	text-align: right;
}

.list_ads_top a{
	font-weight: bold;
	clear:both;
}
 
.list_ads_top img{
	vertical-align: middle;
	padding: 0 2px;
	border: none;
}

.list_ads hr { 
	clear:both;
	margin: 3px;
}

.list_ads_sub {
	border-spacing: 0px;
	clear:both;
	font-weight: bold;
}

.wpc_main { 
/*border: 1px solid #C5B2B3;*/
	background-color:#f4f1ee;
	padding: 1px;
	padding-left: 130px;
	margin-right: 10px;
	/*clear:both;*/
	border-spacing: 0px;
}

.main_desc{
	padding-left:.5em;
}


#main_col_title{
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #ccc;
	background-color:#fcfcfc;
	font-weight: bold;
	line-height:16px;
}

.main_col_left {
	float: left;
	width:45%;
}

.main_col_middle  {
	float: left;
	width:25%;
	margin: 0 4px 10px 4px;
}

.main_col_right #main_col_title {
	float: right;
	width:28%;
}


.main_col_left_btn{
	font-size: 9px;
	float: left;
	height: 1.6em;
	border-bottom: 1px solid #ddd;
	width:45%;
}

.main_col_middle_btn{
	float: left;
	width:25%;
	height: 1.6em;
	border-bottom: 1px solid #ddd;
	font-size: 9px;
}

.main_col_middle_btn img{
        padding:0;
        margin:0;
}

.main_col_right_btn{
	float: right;
	width:28%;
	height: 1.6em;
	border-bottom: 1px solid #ddd;
	font-size: 9px;
}


.show_ad { 
	padding: 1px;
}


.show_ad p {
	margin-top: 0 0 1em 0;
	line-height: 1.5em;
}

.show_ad p.justify {
	text-align: justify;
	padding: 10px;
}

.show_ad_header {
	background-color: #eee;
	border-bottom: 1px solid #c5b2b3;
	padding: 2px 5px;
	margin-bottom: 2px;
}

.show_ad_img1 {
	float: left;
	margin:0 8px 1px 0;
	border:1px solid rgb(150,150,150);
}

.show_ad_img12 {
	margin:10px 5px 10px 10px;  
	border:1px solid rgb(150,150,150);
	clear: both;
	float: right; 
}
.show_ad_title{
	font-weight: bold;
	padding: 4px 5px;
}

.show_ad_info{
	font-size: 9px;
	padding: 0px 5px;
}

.show_ad_info img{
	vertical-align: middle;
	padding: 0px 3px;
	border: none;
}

div.info{text-align:right;margin:1em 0;padding:0}
div.info div{display:inline;white-space:nowrap}
div.info div.left{float:left} 

.info img{
	vertical-align: middle;
	padding: 0 2px;
	border: none;
}

.rightTxt{
	text-align: right;
}

.show_ad_banner{
	text-align: center;
	padding-top: 10px;
}

.subcat {
	letter-spacing: normal;
	border-spacing: 0;
	padding:0;
} 

.ads {
	font-weight: bold;
	background-color: #f4f1ee;
}

.editform {
	margin-top: 10px; 
}

.editform img {
	border:0;
}
.editform h2{
	margin: 10px 0 0 10px; 
}

.editform h3{
	margin: 10px 0 0 10px; 
}

.editform table {
	width: 99%;
	margin-top: 20px;
}

.editform table td, .border {
	padding: 2px;
	margin: 0px;
	border-top: 1px solid #efefef;
}

.wpc_label_right{
	text-align: right;
	vertical-align: top;
}

.editform .input, .editform select, .editform textarea{
}

.wpc_footer{
	margin-top: 4px;
	clear:both;
	padding: 8px 5px 20px 0;
	font-size: 9pt;
}

.wpc_footer img{
        padding:0;
        margin:-2px;
}

.wpc_footer_hr {
	margin: 20px 0 5px 0;
}
.wpc_footer p {
	margin-top: 5px;
}
.wpc_footer h3 {
	border-bottom: 1px solid #ddd;
}
.rssIcon {
	border: none;
	margin-left: 5px;
	padding-left: 17px;
	background: url(/wp-content/plugins/wp-classified/images/topic/rss.png) no-repeat;
} 
.smallRed{
	color: red; 
	font-size: 8pt;
}
.delete{
	background-color: transparent;
	background: url(/wp-content/plugins/wp-classified/images/topic/delete.jpg) no-repeat;
	vertical-align: middle;
	padding: 0 2px 4px 20px;
	float: right;
	border: none;
}

.edit{
	background-color: transparent;
	background: url(/wp-content/plugins/wp-classified/images/topic/edit.jpg) no-repeat;
	padding: 0 2px 4px 20px;
	float: left;
	vertical-align: middle;
	border: none;
}

.print{
	background-color: transparent;
	background: url(/wp-content/plugins/wp-classified/images/topic/print.jpg) no-repeat;
	vertical-align: middle;
	padding-left: 20px;
	float: right;
	border: none;
}


.imgMiddle{
	vertical-align: middle;
	padding: 0 2px 0 2px;
	border: none;
}

.rightCell{
	margin-top: 4px;
	padding: 8px 5px 2px 0;
	float: right;
	text-align: right;
	vertical-align: middle;
	font-weight: bold;
}

.leftCell{
	margin-top: 4px;
	padding: 8px 5px 2px 0;
	vertical-align: middle;
	float: left;
}

.rightCellsend{
	margin-top: 4px;
	padding: 8px 5px 2px 0;
	vertical-align: middle;
	float: right;
	text-align: right;
}

.error{
	margin: 0;
	padding: 0 0 10px 0;
	color: red;
	font-weight: bold;
}

.message{
	margin: 0;
	padding: 0 0 10px 0;
	color: green;
	font-weight: bold;
}

.sendInput{width: 258px;}

.sendTd{
	background-color: #fff;
	text-align: right;
	vertical-align: top;
}

.smallTxt{
	font-size:8px;
	padding-top: 2px;
	color: #444;
}

.legend  {
	padding: 10px;
	color: blue;
} 

.fieldset {
	margin-bottom: 1em;
	padding:.5em;
	border: 1px solid #aaa;
} 

#thumbBox{ /*Outermost DIV for thumbnail viewer*/
position: absolute;
left: 0;
top: 0;
width: auto;
padding: 10px;
padding-bottom: 0;
background: #313131;
visibility: hidden;
z-index: 10;
cursor: hand;
cursor: pointer;
}

#thumbBox .footerbar{ /*Footer DIV of thumbbox that contains "close" link */
font: bold 10px Tahoma;
letter-spacing: 1px;
line-height: 0.9em;
color: #ccc;
padding: 5px 0;
text-align: left;
}

#thumbBox #thumbImage{ /*DIV within thumbbox that holds the enlarged image */
background-color: white;
}

#thumbLoading{ /*DIV for showing "loading" status while thumbbox is being generated*/
position: absolute;
visibility: hidden;
border: 1px solid black;
background-color: #EFEFEF;
padding: 5px;
z-index: 5;
}
