/*
* Author:M. Forgani
* wpclassified wordpress plugin
* Author URI:http://www.forgani.com/
*/
.wpc_head{padding-top:.5em;}
.wpc_head h3{padding-top:5px;border-bottom:1px solid #ddd;} 
.wpc_head a{text-decoration:none;} 
.wpc_head img{border:0;}
.wpc_head p{vertical-align:top;margin:10px;font-weight:bold;display:inline;}
.wpc_search{text-align:right;margin:5px 0;float:right;clear:both;}
.wpc_googleAd {padding:10px 0;margin:10px 0;float:left;text-align:center;}
.wpc_container {border:1px solid #c5b2b3;padding:8px 2px 3px 2px;clear:both; /* if do not look well remove it */}
.wpc_container hr {height:1px;}
.main-content {padding:0;} 
.main-content h2{font-weight:normal;}
.column-left{float:left;margin-bottom:10px;margin-left:15px;}
.list-content{margin-top:10px;margin-bottom:10px;clear:both;margin-left:15px;}
.list-content img{margin-top:0px;margin-right:3px;border:0;}
.catphoto{float:left;margin-top:0px;margin-right:15px;border:0;}
.wpc_colaps{display:inline;clear:both;background-color:#f4f1ee;padding:2px;margin:0px 5px 0 0;border:1px solid #aaa;}
.list-content h2{text-align:left;padding-left:130px;}
.list-content dt{color:#444;text-align:left;font-weight:bold;padding-left:100px;}
.list_ads {/*border:1px solid #C5B2B3;*/padding:1px;margin-bottom:10px;}
.list_ads_top{padding:5px 5px;margin-bottom:10px;border:1px solid #ccc;background-color:#f9f9f9;text-align:right;}
.list_ads_top a{font-weight:bold;clear:both;color:#380B61}
.list_ads_top img{vertical-align:top;}
.list_ads hr {clear:both;margin:3px;}
.list_ads_sub {padding:15px 0;border-spacing:5px;clear:both;font-weight:bold;}
.list_ads_sub img{border:0;vertical-align:middle;}
.wpc_main {/*border:1px solid #C5B2B3;*/background-color:#f4f1ee;padding:1px;padding-left:130px;margin-right:10px;/*clear:both;*/border-spacing:0px;}
.main_desc{padding-left:.5em;}
#main_col_title{border-bottom:1px solid #ccc;border-top:1px solid #ccc;background-color:#fcfcfc;font-weight:bold;line-height:16px;}
.main_col_left {float:left;width:45%;}
.main_col_middle{float:left;width:25%;margin:0 4px 10px 4px;}
.main_col_middle img{border:0;vertical-align:middle;}
.main_col_right #main_col_title {float:right;width:28%;}
.main_col_left_btn {float:left; height:1.8em;border-bottom:1px solid #ddd;width:50%;font-size:9px;}
.main_col_right_btn{float:right;height:1.8em;border-bottom:1px solid #ddd;width:25%;font-size:9px;}
.main_col_middle_btn{float:left;height:1.8em;border-bottom:1px solid #ddd;width:25%;font-size:9px;}
.main_col_middle_btn img{border:0;vertical-align:middle;padding-top:-10px}
.show_ad {padding:1px;}
.show_ad p {margin:0 0 1em 0;line-height:1.5em;}
.show_ad p.justify {text-align:justify;padding:10px;}
.show_ad_header {background-color:#eee;border-bottom:1px solid #c5b2b3;padding:2px 5px;margin-bottom:2px;}
.show_ad_img1 {float:left;margin:0 8px 1px 0;border:1px solid rgb(150,150,150);background-color:#fff;}
.show_ad_img12 {margin:10px 5px 10px 10px;border:1px solid rgb(150,150,150);float:right;}
.show_ad_img13 {margin:0 5px 10px 10px; border:1px solid rgb(150,150,150);clear:both;float:right;}
.show_ad_title{font-weight:bold;padding:4px 5px;}
.show_ad_info{font-size:9px;padding:2px 5px;}
.show_ad_info img{vertical-align:middle;padding:0px 3px;margin-bottom:5px;border:none;}
div.info{text-align:right;margin:1em 0;padding:0}
div.info div{display:inline;white-space:nowrap}
div.info div.left{float:left} 
.info img{vertical-align:middle;padding:0 2px;border:none;}
.rightTxt{text-align:right;}
.show_ad_banner{text-align:center;padding-top:10px;}
.subcat {letter-spacing:normal;border-spacing:0;padding:0;} 
.ads {font-weight:bold;background-color:#f4f1ee;}
.editform {margin-top:10px;}
.editform img {border:0;}
.editform h2{margin:10px 0 0 10px;}
.editform h3{margin:10px 0 0 10px;}
.editform table {width:99%;margin-top:20px;}
.editform table td, .border {padding:2px;margin:0px;border-top:1px solid #efefef;}
.wpc_label_right{text-align:right;vertical-align:top;}
.wpc_label_left{text-align:left;vertical-align:top;}
.editform textarea{border-top:1px solid #efefef;}
.wpc_footer{clear:both;padding:4px 5px 5px 0;font-size:9pt;margin-top:10px;}
.wpc_footer img{padding:0;margin:-2px;}
.wpc_footer_hr {margin:20px 0 5px 0;}
.wpc_footer p {margin-top:5px;}
.wpc_footer h3 {border-bottom:1px solid #ddd;}
.rssIcon {border:none;margin-left:5px;padding-left:17px;background:url(/wp-content/plugins/wp-classified/images/rss.png) no-repeat;} 
.smallRed{color:red;font-size:9pt;}
#wpc_submit {
    border-radius: 5px;
		margin:0 10px;
    border: 0;
    width: 80px;
    height:25px;
    background: #e4e4e4;
}
.delete{clear:top; background:url(/wp-content/plugins/wp-classified/images/delete.gif) no-repeat;vertical-align:middle; padding:0 15px;float:right;border:none;font-size:10px}
.edit{clear:top; background:url(/wp-content/plugins/wp-classified/images/edit.gif) no-repeat;vertical-align:middle; padding:0 15px;float:right;border:none;font-size:10px;}
.print{background-color:transparent;background:url(/wp-content/plugins/wp-classified/images/print.jpg) no-repeat;vertical-align:middle;padding-left:20px;float:right;border:none;font-size:10px}
.imgMiddle{vertical-align:middle;padding:0 2px 0 2px;border:none;}
.rightCell{margin-top:4px;padding:8px 5px 2px 0;float:right;text-align:right;vertical-align:middle;font-weight:bold;}
.leftCell{margin-top:4px;padding:8px 5px 2px 0;vertical-align:middle;float:left;}
.rightCellsend{margin-top:4px;padding:8px 5px 2px 0;vertical-align:middle;float:right;text-align:right;}
.error{margin:0;padding:0 0 10px 0;color:red;font-weight:bold;}
.message{margin:0;padding:0 0 10px 0;color:green;font-weight:bold;}
.sendInput{width:258px;}
.sendTd{background-color:#fff;text-align:right;vertical-align:top;}
.smallTxt{font-size:9px;padding-top:2px;color:#444;}
.legend{padding:10px;color:blue;} 
.fieldset {margin-bottom:1em;padding:.5em;border:1px solid #aaa;} 
#thumbBox{position:absolute;left:0;top:0;width:auto;padding:10px;padding-bottom:0;background:#313131;visibility:hidden;z-index:10;cursor:hand;cursor:pointer;}
#thumbBox .footerbar{font:bold 10px Tahoma;letter-spacing:1px;line-height:0.9em;color:#ccc;padding:5px 0;text-align:left;}
#thumbBox #thumbImage{background-color:white;}
#thumbLoading{ /*DIV for showing "loading" status while thumbbox is being generated*/
position:absolute;visibility:hidden;border:1px solid black;background-color:#EFEFEF;padding:5px;z-index:5;}
/* Main Table
 * This class handles the appearence of the
 * the main tables used with 68classifieds
 */
table.main {border:none;background-color:#FFFFFF;border-collapse:collapse;}
table.main tr td{line-height:16px;}
.main tr.odd td { background-color: #cfcfcf; }
.main tr td a { text-transform: capitalize; font-size:16px; font-weight: bold; text-decoration:none; }
.main tr td a:hover {text-decoration:underline}
.col th {color:#333;border:1px solid #fff;padding:2px;background-color: #eee;font-weight:bold;font-size:12px;text-align:left;line-height:1.4em;}
.main tr.odd td{background-color: #eee;border:1px solid #fff;padding:2px;}
.readmore a:link {font-weight:normal;text-decoration:underline;font-size:11px;}
